.creature
  .picture
    =image_tag(creature.picture_url(:thumbnail), :width => 50, :height => 50)
  .name
    .label Name
    =creature.name
  .description
    .label Description
    =creature.description
  .habitat
    .label Habitat
    =creature.habitat
  .btn
    %span= link_to "Edit", edit_creature_path(creature), :id => "Edit", :title => "Edit"

