/* app wide settings */
@media all {
  .btn-primary a, .btn-danger a {
    color: white;
  }

  .btn-primary a:hover, .btn-danger a:hover {
    color: white;
    text-decoration: none;
  }
}

#wrapper {
  width: 960px;
  margin: 0px auto 100px auto;
}

.label {
  font-size: 12px;
}

.creature {
  display:  inline-block;
  border: 2px solid black;
  padding: 10px;
}